@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
    --primary-blue-clr: #6370ff;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;

}

/* Remove list styles on  ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-image: url(Img/bg-pattern-desktop.svg);
    font-family: 'Montserrat', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* styles */

::selection {
    color: white;
    background-color: var(--primary-blue-clr);
}

.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;

}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem 0 0;

}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/wave-haikei.svg);
    background-size: cover;

}

.logo-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: left;
    align-items: center;
}

.logo-text {
    font-size: 3em;
    font-weight: bold;
    font-family: cursive;
    color: #463a3aae;
    text-shadow: 0 0 1px #333;
}

span {
    color: #6370ff;
}

.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.img img {
    width: 31.25em;
}

form {
    width: 22.5em;
    display: flex;
    flex-direction: column;
}


.login-content img {
    height: 6.25em;
}

.login-content h2 {
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 1.5625em 0;
    padding: 0.3125em 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
    margin-top: 0;
}

.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 2.8125em;
}

.input-div>div>::placeholder {
    position: absolute;
    left: 0.625em;
    top: 50%;
    transform: translateY(-51%);
    color: #999;
    font-size: 1.125em;
    transition: .3s;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--primary-blue-clr);
    transition: 0.4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>::placeholder {
    top: -6px;
    font-size: 0.9375em;
}

.input-div.focus>.i>i {
    color: var(--primary-blue-clr);
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

.input-div.pass {
    margin-bottom: 0.25em;
}

a {
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

.text a {
    display: inline;
}

.text {
    font-size: 0.9em;
    color: #2c3063;
}

a:hover {
    color: var(--primary-blue-clr);
}

.btn {
    display: block;
    width: 100%;
    height: 3.125em;
    border-radius: 1.5625em;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #6370ff, #8790f2, #8992f0);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background-position: right;
}


@media screen and (max-width: 65.625em) {
    .container {
        grid-gap: 5rem;
    }

}

@media screen and (max-width: 62.5em) {
    form {
        width: 18.125em;
    }

    .login-content h2 {
        font-size: 2.4rem;
        margin: 0.5em 0;
    }

    .img img {
        width: 25em;
    }
}

@media screen and (max-width: 56.25em) {
    .container {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .img img {
        display: none;
    }

    .img {
        background-image: none;
    }

    .login-content {
        justify-content: center;

    }

    .logo-wrapper .logo-text {
        grid-column: 3/4;
    }

}

/* Home page styles */

/* utility classes */
.placeholder-text::placeholder {
    color: #333;
    font-size: 0.9em;
}

/* Header style */
.header {
    display: grid;
    grid-template-columns: .5fr 1fr 2fr;
    grid-gap: 4em;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    border-radius: 0 0.5em 0.5em;
    background-color: white;
    padding-top: .5em;
}

.header .logo-text {
    font-size: 2em;
    transition: 0.4s;
    cursor: pointer;
}

.header .logo {
    max-height: 3em;
    transition: 0.4s;
    cursor: pointer;
}

.search {
    border-radius: 0.5em;
    border: none;
    height: 2.5em;
    padding: 0.5em;
    background-color: #f1f3f4;
    transition: 0.4s;
    font-family: cursive;
    background-color: #ffffff;
    box-shadow: 1px 1px 7px #33333349;
}


.search:focus {
    outline: 2px solid var(--primary-blue-clr);
}

.profile {
    text-align: center;
    color: #333;
}

.profile a {
    text-align: center;
    color: #333;
}

.nav-links i {
    color: var(--primary-blue-clr);
}

.nav-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
}

/* Add note style */

.home-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.note-container {
    grid-column: 2/4;
}

.home-img-container {
    background-image: url(img/undraw_software_engineer_re_tnjc.svg);
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 1/2;
    background-position: center;
}


.add-note-wrapper {
    max-width: min(37.5em, 100% - 1rem * 3);
    margin: 1.5em auto;
}

.add-box {
    width: 100%;
    height: 2.5em;
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    background-color: #ffffff;
    box-shadow: 1px 1px 7px #33333349;
    transition: 0.4s;
}

.add-box:focus {
    outline: 2px solid var(--primary-blue-clr);
}

/* Notes*/
.notes {
    max-width: min(75em, 100% - 1rem * 3);
    margin: auto;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
}

.notes li {
    background-image: linear-gradient(to right, #6370ff, #8790f2, #8992f0);
    flex: 1 1 calc(33.33% - 20px);
    padding: 1em;
    border-radius: 0.5em;
    list-style: none;
    box-shadow: 0 1px 6px #333;
    transition: .3s;
    border-top: 2px solid white;
}

.notes li:hover {
    background-image: linear-gradient(to right, var(--primary-blue-clr), #6771dc96);
    transform: translateY(-3%);
    transition-property: background-image, transform;
    transition-duration: .3s, .3s;
    transition-delay: 0.5s, 0s;
    transition-timing-function: ease-out;
}

.title {
    min-height: 2em;
    font-size: 1.3em;
    color: whitesmoke;
    font-weight: 500;
}

.content {
    min-height: 10em;
    color: white;
    font-weight: 500;
}

.menu-x-date {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid white;
    padding-top: 1em;
    color: whitesmoke;
}

.notes i:hover,
.notes i:focus {
    color: rgb(9, 9, 195);
    transition: 0.3s;
    cursor: pointer;
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width:70.35em) {
    .home-container {
        display: block;
    }

    .home-container img {
        display: none;
    }
}

@media screen and (max-width:56.25em) {
    .notes {
        flex-direction: column;
    }

    .hamburger-menu {
        display: block;
    }

    .nav-links,
    .logo,
    .search {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    .menu-x-date {
        justify-content: space-evenly;
    }

}

/* Pop up styles */

/* add-note-pop-up */
.add-note-pop-up {
    max-width: min(37.5em, 100% - 1rem * 3);
    margin: 1.5em auto;
    height: 10em;
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    background-color: #ffffff;
    box-shadow: 1px 1px 7px #33333349;
}

.add-note-pop-up form {
    width: 100%;
    display: grid;
    grid-template-rows: .5fr 1fr .5fr;
}

.add-note-pop-up input {
    border: none;
}

.input-title,
.take-note {
    margin-bottom: 1em;
    width: 100%;

}

.take-note {
    font-size: 0.95em;
}

.bottom-content {
    color: #333;
    font-size: 0.8em;
    grid-row: 4/5;
    justify-self: right;
    display: flex;
    grid-gap: 4em;
    font-weight: 500;
}



.bottom-content>* {
    padding: 0.4em;
    text-shadow: 0 0 .5px #333;
    width: 5em;
    text-align: center;
    border-radius: 0.2em;
    transition: .4s;
}

.bottom-content .add {
    background-color: var(--primary-blue-clr);
    border: none;
    color: white;
}

.bottom-content .add:hover {
    background-color: white;
    border: 1px solid var(--primary-blue-clr);
    color: var(--primary-blue-clr);
}

.bottom-content .close {
    background-color: white;

    color: var(--primary-blue-clr);
    border: 1px solid var(--primary-blue-clr);
    cursor: pointer;
}

.bottom-content .close:hover {
    background-color: var(--primary-blue-clr);
    color: white;
}

.add-note-pop-up input:focus {
    outline: none;
}

/* Profile pop-up */
.profile-pop-up {
    background-color: #ccd3e0;
    background-image: url(img/blob-haikei.svg);
    width: 25em;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    padding: 1em;
    box-shadow: 0px 0px 6px #33333397;
    color: var(--primary-blue-clr);
    font-weight: 500;
    position: absolute;
    margin: 1em;
    top: 0;
    right: 0;
    z-index: 1;
}

.email {
    color: #333;
}

.profile-pop-up>* {
    margin: 1em;
}

.add-account {
    background-color: white;
    width: 90%;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
}

.add-account:hover {
    background-color: var(--primary-blue-clr);
    color: white;
    transition: .3s;
    cursor: pointer;
}

.add-account i {
    color: var(--primary-blue-clr);
}


.profile-img-container {
    border-radius: 50%;
    height: 9em;
    width: 9em;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    font-size: 1em;
    display: flex;
    gap: 3.5em;
    align-items: center;
}

.top img {
    cursor: pointer;
}

.greeting {
    font-size: 2em;
    margin-top: 0;
}

.greeting span {
    color: white;
}

/* Hamburger menu pop-up */
.hamburger-pop-up {
    background-color: white;
    box-shadow: 1px 1px 7px #33333349;
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 1.45em;
    padding-right: 2.5em;
    padding-top: 0;
    margin-top: 0;

}

.nav-ul-ham {
    list-style-type: none;
    font-weight: bold;
}

.nav-ul-ham>* {
    margin: 2em;
}

.nav-ul-ham i {
    color: var(--primary-blue-clr);
}

.hamburger-pop-up img {
    justify-self: right;
    align-self: flex-end;
    cursor: pointer;
}

/* Favourites pop-up */
.favorites-pop-up {
    max-width: min(90em, 100% - 1rem * 3);
    background-color: white;
    box-shadow: 1px 1px 7px #33333349;
    margin: auto;
    z-index: 1;
    padding: 0 2em 2em;
    border-radius: .6em;
    background-image: url(img/wave-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.favorites-pop-up .notes li {
    background-image: linear-gradient(to right, #3e49bb, #8790f2, #6571f1);
}

.fav-header {
    font-size: 1em;
    padding: 2em;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}

.fav-header p {
    font-weight: bold;
    color: #999;
}

.fav-header i {
    color: var(--primary-blue-clr);
}

.fav-notes i {
    color: rgb(224, 223, 223);
}

.fav-notes .title,
.fav-notes .content,
.fav-notes .menu-x-date {
    color: rgb(240, 230, 230);
}

.fav-header img {
    cursor: pointer;
}

/* Wecome alert box */
.welcome-message {
    background-color: var(--primary-blue-clr);
    max-width: 20em;
    margin: auto;
    margin-bottom: 0;
    padding: .8em;
    border-radius: 1em;
    border: 2px solid rgb(250, 250, 250);
    box-shadow: 1px 1px 7px #33333349;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
    color: white;
    transform: translateY(30%);
}