@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
    --primary-blue-clr: #6370ff;
    --white-clr: white;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    font: inherit;
    margin: 0;
    padding: 0;

}

/* Remove list styles on  ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    background-image: url(Img/bg-pattern-desktop.svg);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    display: block;
    max-width: 100%;
}

/* styles */

::selection {
    background-color: var(--primary-blue-clr);
    color: var(--white-clr);
}

.wave {
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    z-index: -1;
}

.container {
    display: grid;
    grid-gap: 7rem;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    padding: 0 2rem 0 0;
    width: 100vw;
}

.img {
    align-items: center;
    background-image: url(img/wave-haikei.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.logo-wrapper {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: left;
}

.logo-text {
    color: #463a3aae;
    font-family: cursive;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0 0 1px #333;
}

span {
    color: #6370ff;
}

.login-content {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.img img {
    width: 31.25em;
}

form {
    display: flex;
    flex-direction: column;
    width: 22.5em;
}


.login-content img {
    height: 6.25em;
}

.login-content h2 {
    color: #333;
    font-size: 2.9rem;
    text-transform: uppercase;
}

.login-content .input-div {
    border-bottom: 2px solid var(--white-clr);
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 1.5625em 0;
    padding: 0.3125em 0;
    position: relative;
}

.login-content .input-div.one {
    margin-top: 0;
}

.i {
    align-items: center;
    color: var(--white-clr);
    display: flex;
    justify-content: center;
}

.i i {
    transition: .3s;
}

.input-div>div {
    height: 2.8125em;
    position: relative;
}

.input-div>div>::placeholder {
    color: #999;
    font-size: 1.125em;
    left: 0.625em;
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    transition: .3s;
}

.input-div:before,
.input-div:after {
    background-color: var(--primary-blue-clr);
    bottom: -2px;
    content: '';
    height: 2px;
    position: absolute;
    transition: 0.4s;
    width: 0%;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>::placeholder {
    top: -6px;
    font-size: 0.9375em;
}

.input-div.focus>.i>i {
    color: var(--primary-blue-clr);
}

.input-div>div>input {
    background: none;
    border: none;
    color: #555;
    font-family: 'poppins', sans-serif;
    font-size: 1.2rem;
    height: 100%;
    left: 0;
    outline: none;
    padding: 0.5rem 0.7rem;
    position: absolute;
    top: 0;
    width: 100%;
}

.input-div.pass {
    margin-bottom: 0.25em;
}

a {
    color: #999;
    font-size: 0.9rem;
    text-align: right;
    text-decoration: none;
    transition: .3s;
}

.text a {
    display: inline;
}

.text {
    color: #2c3063;
    font-size: 0.9em;
}

a:hover {
    color: var(--primary-blue-clr);
}

.btn {
    background-image: linear-gradient(to right, #6370ff, #8790f2, #8992f0);
    background-size: 200%;
    border-radius: 1.5625em;
    border: none;
    color: var(--white-clr);
    cursor: pointer;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    height: 3.125em;
    margin: 1rem 0;
    outline: none;
    text-transform: uppercase;
    transition: .5s;
    width: 100%;
}

.btn:hover {
    background-position: right;
}


@media screen and (max-width: 65.625em) {
    .container {
        grid-gap: 5rem;
    }

}

@media screen and (max-width: 62.5em) {
    form {
        width: 18.125em;
    }

    .login-content h2 {
        font-size: 2.4rem;
        margin: 0.5em 0;
    }

    .img img {
        width: 25em;
    }
}

@media screen and (max-width: 56.25em) {
    .container {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .img img {
        display: none;
    }

    .img {
        background-image: none;
    }

    .login-content {
        justify-content: center;

    }

    .logo-wrapper .logo-text {
        grid-column: 3/4;
    }

}

/* Home page styles */

/* utility classes */
.placeholder-text::placeholder {
    color: #333;
    font-size: 0.9em;
}

/* Header style */
.header {
    align-items: center;
    background-color: var(--white-clr);
    border-radius: 0 0.5em 0.5em;
    display: grid;
    grid-gap: 4em;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 2em;
    justify-content: right;
    padding-bottom: .5em;
    padding-top: .5em;
    position: sticky;
    top: 0;
}

.header .logo-text {
    cursor: pointer;
    font-size: 2em;
}

.header .logo {
    cursor: pointer;
    max-height: 3em;
}

.search {
    background-color: var(--white-clr);
    background-color: var(--white-clr);
    border-radius: 0.5em;
    border: none;
    box-shadow: 1px 1px 7px #33333349;
    font-family: cursive;
    height: 2.5em;
    padding: 0.5em;
}


.search:focus {
    outline: 2px solid var(--primary-blue-clr);
}

/* Nav menu styles */
.flex {
    display: flex;
    gap: var(--gap, 2rem);
    justify-content: right;
}

@media (min-width:56.25em) {
    .primary-navigation a {
        background-color: var(--primary-blue-clr);
        border-radius: .3em;
        color: var(--white-clr);
        margin-bottom: 1em;
        padding: 1em 1em 1em 0;
    }

    .primary-navigation a i {
        padding: 1em;
        border-radius: .3em;
        color: var(--white-clr);
    }

    .primary-navigation a:hover {
        background-color: #8790f5;
        border: 1px solid var(--primary-blue-clr);
    }
}

.profile-sub-menu-wrap {
    max-height: 0em;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 10%;
    transition: max-height .5s ease-out;
    width: 20rem;
    z-index: 100;
}

.toggle-profile-menu {
    max-height: 400px;
}

.sub-menu {
    background-color: var(--white-clr);
    border-radius: 1em;
    margin: 10px;
    padding: 20px;
}

.user-info {
    align-items: center;
    display: flex;
}

.user-info h2 {
    color: var(--primary-blue-clr);
    font-weight: 500;
}

.user-info img {
    border-radius: 50%;
    margin-right: 15px;
    width: 60px;
}

.sub-menu hr {
    background-color: var(--primary-blue-clr);
    border: 0;
    height: 1px;
    margin: 15px 0 10px;
    width: 100%;
}

.primary-navigation .sub-menu-link {
    align-items: center;
    background-color: transparent;
    color: #525252;
    color: var(--primary-blue-clr);
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    max-height: 1em;
    text-decoration: none;
}

.primary-navigation .sub-menu-link:hover {
    background-color: transparent;
    border: 0;

}

.sub-menu-link p {
    font-weight: 400;
    margin-left: 1em;
}

.sub-menu-link span i {
    color: var(--primary-blue-clr);
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: bold;
}

.mobile-nav-toggle {
    /* Completely removes it from the DOM */
    display: none;
}

.sr-only {
    display: none;
}

.primary-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width:56.25em) {
    .header {
        margin-right: 0;
    }

    .primary-navigation {
        --gap: 3em;

        inset: 0 0 0 30%;
        position: fixed;
        z-index: 1000;

        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;

        backdrop-filter: blur(1rem);
        background-color: hsl(0 0% 0%, 0.5);

        /* Move off the page */
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    @supports(backdrop-filter: blur(1rem)) {
        .primary-navigation {
            background-color: hsla(0, 0%, 100%, 0.682);
            backdrop-filter: blur(1rem)
        }
    }

    .flex {
        justify-content: flex-start;
    }

    .mobile-nav-toggle {
        aspect-ratio: 1;
        background-color: transparent;
        background-image: url('img/icon-menu.svg');
        background-repeat: no-repeat;
        border: 0;
        cursor: pointer;
        display: block;
        position: absolute;
        right: 2rem;
        top: 2rem;
        width: 2rem;
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url('img/icon-close-menu.svg');
    }

    .primary-navigation a>[aria-hidden="true"] {
        margin-inline-end: 0.75em;
    }

    .primary-navigation a {
        font-size: 1.5em;
        font-weight: bold;
    }

}

.home-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

}

.note-container {
    grid-column: 2/4;

}

.home-img-container {
    background-image: url(img/undraw_software_engineer_re_tnjc.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 1/2;
    height: 80vh;
}

.add-box {
    background-color: var(--white-clr);
    border-radius: 0.5em;
    border: none;
    box-shadow: 1px 1px 7px #33333349;
    height: 2.5em;
    padding: 1em;
    transition: 0.4s;
    width: 100%;
}

.add-box:focus {
    outline: 2px solid var(--primary-blue-clr);
}

/* Notes*/
.notes {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: auto;
    max-width: min(75em, 100% - 1rem * 3);
}

.notes li {
    background-image: url(img/blob-scene-haikei\ \(9\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5em;
    border-top: 2px solid var(--white-clr);
    box-shadow: 0 1px 6px #333;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.33% - 20px);
    justify-content: space-around;
    list-style: none;
    max-width: 33em;
    padding: 1em;
    transition: .3s;
}

.notes li:hover {
    background-image: url(img/blob-scene-haikei\ \(1\).svg);
    background-position: cover;
    background-repeat: no-repeat;
    transform: translateY(-3%);
    transition-duration: .1s, .1s;
    transition-property: background-image, transform;
    transition-timing-function: ease-out;
    transition: .3s;
}

.title {
    border-bottom: 2px solid var(--white-clr);
    border-radius: 0 .3em .3em;
    color: var(--white-clr);
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: .2em;
    min-height: 2em;
    text-align: center;
}

.content {
    color: rgb(221, 221, 221);
    font-weight: 500;
    min-height: 10em;
}

.content:hover {
    color: var(--primary-blue-clr);
    font-weight: bold;
    transition: color 350ms ease-in-out;
}

.title,
.content {
    max-height: 10.3125rem;
    overflow-wrap: break-word;
    overflow-y: auto;
}



.menu-x-date {
    border-top: 2px solid var(--white-clr);
    color: var(--white-clr);
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

.menu {
    display: flex;
    gap: 3em;
    justify-content: space-evenly;
}

.notes i:hover,
.notes i:focus {
    color: var(--primary-blue-clr);
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (max-width:70.35em) {
    .home-container {
        display: block;
    }

    .home-img-container,
    .home-container img {
        display: none;
    }
}

@media screen and (max-width:56.25em) {
    .notes-section {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: .2fr 2fr;
    }

    .notes li {
        margin: auto;
        min-width: 20rem;
    }

    .add-note-wrapper {
        min-width: min(37.5em, 100% - 1rem * 3);
    }


    .logo,
    .search {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    .menu-x-date {
        justify-content: space-between;
    }
}

.add-note-wrapper {
    background-color: var(--white-clr);
    border-radius: 0.5em;
    border: none;
    box-shadow: 1px 1px 7px #33333349;
    height: 12em;
    margin: 1.5em auto;
    max-width: min(37.5em, 100% - 1rem * 3);
    padding: 1em;
}

.add-note-wrapper form {
    display: grid;
    grid-template-rows: .5fr .5fr;
    width: 100%;
    grid-gap: 0;
}

.add-note-wrapper input {
    border: none;
}

.input-title,
.take-note {
    color: #999;
    font-weight: bold;
    margin-bottom: 1em;
    width: 100%;
}

.input-title {
    font-size: 1em;
}

.take-note {
    font-size: 0.9em;
    margin-top: 0;
    width: 100%;
    max-height: 5.7em;
    border: 0;
    margin-bottom: 0;
}

.input-title::placeholder,
.take-note::placeholder {
    color: #868686;
    font-weight: bold;
}

.input-title::placeholder {
    font-size: 1em;
}

.take-note:focus {
    outline: 0;
}

.take-note::-webkit-scrollbar {
    width: .2em;
}

.take-note:hover::-webkit-scrollbar-track {
    background-color: red;
    background-color: var(--primary-blue-clr);
}

.bottom-content {
    font-size: 0.8em;
    font-weight: 500;
    grid-row: 4/5;
    justify-self: right;
}


.bottom-content>* {
    border-radius: 0.2em;
    padding: 0.6em;
    text-align: center;
    text-shadow: 0 0 .5px #333;
    transition: .4s;
    width: 5em;
}

.bottom-content .add {
    align-items: center;
    background-color: var(--primary-blue-clr);
    border: none;
    color: var(--white-clr);
    display: flex;
    gap: .5em;
    justify-content: center;
    width: 100%;
}

.bottom-content .add:hover,
.bottom-content .add:focus {
    background-color: var(--white-clr);
    border: 1px solid var(--primary-blue-clr);
    color: var(--primary-blue-clr);
    outline: none;
}

.add-note-wrapper input:focus {
    outline: none;
}


/* Wecome alert box */
.welcome-message {
    background-color: var(--primary-blue-clr);
    border-radius: 1em;
    border: 2px solid rgb(250, 250, 250);
    box-shadow: 1px 1px 7px #33333349;
    color: var(--white-clr);
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 0;
    margin: auto;
    max-width: 20em;
    padding: .8em;
    text-align: center;
    transform: translateY(30%);
    transition: transform 250ms ease-in;
}

/* Edit mode styles */
.edit-mode {
    background-color: #8790f2;
    border: 2px solid black;
    box-shadow: 4px 4px 5em rgba(0, 0, 0, 0.5);
    padding: 10px;
    transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
}

.edit-mode .title,
.edit-mode .content {
    background-color: transparent;
    color: var(--white-clr);
    font-weight: bold;
}

/* Icon styles within edit mode */
.edit-mode i {
    color: var(--white-clr);
}

.title::-webkit-scrollbar,
.content::-webkit-scrollbar {
    width: 0;
}

.title:hover::-webkit-scrollbar,
.content:hover::-webkit-scrollbar {
    width: .2em;
}

.title:hover::-webkit-scrollbar-track,
.content:hover::-webkit-scrollbar-track {
    background: var(--primary-blue-clr);
    border-radius: 1.563em;
}

.title:hover::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar:hover::-webkit-scrollbar-thumb {
    background: var(--white-clr);
    border-radius: 1.563em;
}