@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
    --primary-blue-clr: #6370ff;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;

}

/* Remove list styles on  ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-image: url(Images/bg-pattern-desktop.svg);

}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* styles */
.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;

}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem 0 0;

}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/wave-haikei.svg);
    background-size: cover;

}

.logo-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: left;
    align-items: center;
}

.logo-text {
    font-size: 3em;
    font-weight: bold;
    font-family: cursive;
    color: #463a3aae;
    text-shadow: 0 0 1px #333;
}

span {
    color: #6370ff;
}

.login-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.img img {
    width: 31.25em;
}

form {
    width: 22.5em;
    display: flex;
    flex-direction: column;
}


.login-content img {
    height: 6.25em;
}

.login-content h2 {
    margin: 0.9em 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 1.5625em 0;
    padding: 0.3125em 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
    margin-top: 0;
}

.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 2.8125em;
}

.input-div>div>::placeholder {
    position: absolute;
    left: 0.625em;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 1.125em;
    transition: .3s;
}

.input-div:before,
.input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: var(--primary-blue-clr);
    transition: 0.4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus>div>::placeholder {
    top: -6px;
    font-size: 0.9375em;
}

.input-div.focus>.i>i {
    color: var(--primary-blue-clr);
}

.input-div>div>input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'poppins', sans-serif;
}

.input-div.pass {
    margin-bottom: 0.25em;
}

a {
    /* display: block; */
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

.text a {
    display: inline;
}

.text {
    font-size: 0.9em;
    color: #2c3063;
}

a:hover {
    color: var(--primary-blue-clr);
}

.btn {
    display: block;
    width: 100%;
    height: 3.125em;
    border-radius: 1.5625em;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #6370ff, #8790f2, #8992f0);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background-position: right;
}


@media screen and (max-width: 65.625em) {
    .container {
        grid-gap: 5rem;
    }

}

@media screen and (max-width: 62.5em) {
    form {
        width: 18.125em;
    }

    .login-content h2 {
        font-size: 2.4rem;
        margin: 0.5em 0;
    }

    .img img {
        width: 25em;
    }
}

@media screen and (max-width: 56.25em) {
    .container {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .img img {
        display: none;
    }

    .img {
        background-image: none;
    }

    .login-content {
        justify-content: center;

    }

    .logo-wrapper .logo-text {
        grid-column: 3/4;
    }

}

/* Home page styles */
/* utility classes */
.placeholder-text::placeholder {
    color: #333;
    font-family: cursive;
    font-weight: bold;

}

/* Header style */
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4em;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--primary-blue-clr);
    position: sticky;
    top: 0;
    background-color: white;
}

.header .logo-text {
    font-size: 2em;
    transition: 0.4s;
}

.header .logo {
    max-height: 3em;
    transition: 0.4s;
}

.search {
    border-radius: 0.5em;
    border: none;
    height: 2.1em;
    padding: 0.5em;
    background-color: #f1f3f4;
    transition: 0.4s;
    box-shadow: 2px 2px 1px #33333324;
    font-family: cursive;
}


.search:focus {
    outline: 2px solid var(--primary-blue-clr);
}

.profile {
    text-align: center;
    color: #333;
}

.profile a {
    text-align: center;
    color: #333;
}

.profile i {
    color: var(--primary-blue-clr);
}

/* Add note style */
.add-note-wrapper {
    max-width: 37.5em;
    margin: 1.5em auto;
}

.add-box {
    width: 100%;
    height: 2.5em;
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    background-color: #ffffff;
    box-shadow: 1px 1px 7px #33333349;
    transition: 0.4s;
    font-family: cursive;
}

/* Notes container */
.notes {
    max-width: min(75em, 100% - 1rem * 3);
    margin: auto;
    gap: 1em;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.notes li {
    background-color: var(--primary-blue-clr);
    flex: 1 1 calc(33.33% - 20px);
    padding: 1em;
    border-radius: 0.5em;
    list-style: none;
}